:root {
  --black: #000000;
  --black-0_16: #0000002b;
  --primary: #0a2647;
  --poseidon: #163b63;
  --poseidon-100: #243b53;
  --poseidon-200: #5f7184;
  --poseidon-300: #c7d5e3;
  --poseidon-400: #d9e2ec;
  --poseidon-500: #415a75;
  --poseidon-600: #687888;
  --white: #ffffff;
  --white-100: #e8f0f7;
  --white-200: #eaf1f7;
  --white-300: #f6f8fa;
  --white-400: #f5f8fc;
  --white-500: #e0f2ee;
  --green: #399918;
  --green-100: #65b749;
  --green-26: #39991842;
  --red: #ff0000;
  --transparent: transparent;
  --font-inter: "Inter", sans-serif;
  --font-charis-sil: "Charis SIL", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--font-inter);
  color: var(--poseidon-100);
  background-color: var(--white-100);
}

.container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 20px;
  margin-inline: auto;
}

.authentication-container {
  max-width: 546px;
}

@media (max-width: 767px) {
  .container {
    padding-inline: 16px;
  }
}

.text-green {
  color: var(--green);
}

.text-red {
  color: var(--red);
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  font-weight: 500;
}

.h1,
h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
  font-size: 55px;
}

@media (max-width: 991px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .h1,
  h1:not(:where(.h2, .h3, .h4, .h5, .h6)) {
    font-size: 40px;
  }
}

.h2,
h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
  font-size: 45px;
}

@media (max-width: 991px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .h2,
  h2:not(:where(.h1, .h3, .h4, .h5, .h6)) {
    font-size: 35px;
  }
}

.h3,
h3:not(:where(.h1, .h2, .h4, .h5, .h6)) {
  font-size: 34px;
}

.h4,
h4:not(:where(.h1, .h2, .h3, .h5, .h6)) {
  font-size: 30px;
}

.h5,
h5:not(:where(.h1, .h2, .h3, .h4, .h6)) {
  font-size: 28px;
}

.h6,
h6:not(:where(.h1, .h2, .h3, .h4, .h5)) {
  font-size: 20px;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  -webkit-user-drag: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

svg {
  display: block;
}

ul,
ol {
  list-style-type: none;
}

button {
  display: block;
  background-color: var(--transparent);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: var(--transparent);
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.primary-icon {
  width: 20px;
  aspect-ratio: 1;
  color: var(--poseidon-200);
  transition: all 0.3s ease-in-out;
}

.primary-icon:hover {
  color: var(--primary);
}

.outline {
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--poseidon-300);
  border-radius: 12px;
  box-shadow: 0 0 10px var(--poseidon-400);
}

@media (max-width: 767px) {
  .outline {
    padding: 16px;
  }
}

.min-w-0 {
  min-width: 0;
}

.stack-head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px 20px;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.content-title {
  font-size: 20px;
  margin-bottom: 18px;
  text-transform: capitalize;
}

.stack-head-wrapper:has(.content-title) .content-title {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .content-title,
  .stack-head-wrapper {
    margin-bottom: 14px;
  }
}

.view-all-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

.view-all-icon {
  width: 18px;
  transition: all 0.3s ease-in-out;
}

.view-all-btn:hover .view-all-icon {
  transform: translateX(4px);
}
