@media (max-width: 991px) {
  .aside-logo {
    max-width: 118px;
    max-height: 22px;
  }

  .aside-close-btn,
  .menu-btn {
    display: block;
  }

  aside {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.3s ease-in;
  }

  aside.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .dashboard-wrapper::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000002b;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
  }

  .dashboard-wrapper:has(aside.active)::after {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  aside {
    padding-inline: 16px;
  }

  .sidebar-link {
    padding-inline: 12px;
  }

  /* ----- Header ----- */
  header {
    padding-inline: 16px;
  }

  .header-stack {
    gap: 18px;
  }

  .notification-dropdown {
    width: calc(100% - 32px);
    min-width: auto;
    position: fixed;
    top: 78px;
    right: 0;
    margin-inline: 16px;
    border-radius: 12px;
  }

  .notification-list {
    max-height: calc(100vh - 190px);
  }

  .notification-dropdown-title {
    font-size: 16px;
    padding: 12px 14px;
  }

  .notification-item {
    padding: 12px 14px;
  }

  .notification-item-icon-block {
    height: 32px;
  }

  .user-avatar-wrapper {
    gap: 8px;
  }

  .other-info-name {
    display: none;
  }

  /* ----- Main Panel ----- */
  main {
    padding-inline: 16px;
    gap: 16px;
  }

  .quick-actions-title {
    font-size: 18px;
  }

  .quick-actions-wrapper {
    padding-inline: 18px;
  }

  .quick-actions-btn {
    font-size: 14px;
  }

  .stack-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .summary-card-wrapper {
    gap: 16px;
  }

  .summary-range {
    margin-top: 12px;
  }

  /* ----- Authentication Page ----- */
  .authentication-title {
    font-size: 28px;
    margin-bottom: 16px;
  }
}

@media (max-width: 424px) {
  .authentication-block {
    padding: 20px 16px;
  }

  .authentication-title {
    font-size: 24px;
  }
}
